<! DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
    </head>
<body>

<h1 align="center"><u>Vote Tally</u></h1><br>

    <h3>
        <table>
            <tr>
                <th>Photo Number</th>
                <th>Number of votes</th>
            </tr>
            {% for key, value in sortedp.items %}
            <tr>
                <td>P00{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </h3>

    <br><br>
    <h3>
        <table>
            <tr>
                <th>Drawing Number</th>
                <th>Number of votes</th>
            </tr>
            {% for key, value in sortedd.items %}
            <tr>
                <td>S00{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </h3>
</body>
</html>
