body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1C2331;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer {
    background-color: #1C2331;
}